<?xml version="1.0"?>
<config>
    <modules>
        <Ism_News>
            <version>0.1.0</version>
        </Ism_News>
    </modules>
    <frontend>
        <routers>
            <news>
                <use>standard</use>
                <args>
                    <module>Ism_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>

        <layout>
            <updates>
                <news>
                    <file>news.xml</file>
                </news>
            </updates>
        </layout>

    </frontend>
    <admin>
        <routers>
            <news>
                <use>admin</use>
                <args>
                    <module>Ism_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <news module="news">
                <title>News</title>
                <sort_order>77</sort_order>
                <children>
                    <article module="news">
                        <title>Manage News</title>
                        <sort_order>0</sort_order>
                        <action>news/adminhtml_article</action>
                    </article>
                </children>
            </news>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <news>

                                <children>
                                    <save translate="title">
                                        <title>Save Page</title>
                                        <sort_order>0</sort_order>
                                    </save>
                                    <delete translate="title">
                                        <title>Delete Page</title>
                                        <sort_order>10</sort_order>
                                    </delete>
                                </children>

                            <title>News Module</title>
                            <sort_order>200</sort_order>
                        </news>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <news>
                    <file>news.xml</file>
                </news>
            </updates>
        </layout>

    </adminhtml>

    <global>
        <models>
            <news>
                <class>Ism_News_Model</class>
                <resourceModel>news_resource</resourceModel>
            </news>
            <news_resource>
                <class>Ism_News_Model_Resource</class>
                <entities>
                    <article>
                        <table>news_articles</table>
                    </article>
                </entities>
            </news_resource>
        </models>
        <resources>
            <news_setup>
                <setup>
                    <module>Ism_News</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </news_setup>
            <news_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </news_write>
            <news_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </news_read>
        </resources>
        <blocks>
            <news>
                <class>Ism_News_Block</class>
            </news>
        </blocks>
        <helpers>
            <news>
                <class>Ism_News_Helper</class>
            </news>
        </helpers>
    </global>
</config>
